.header{
    display: flex;
    flex: 1 1 1;
    align-items: center;
    justify-content: space-between;
  
}
.menu-icon{
    height: 12px;
    width: 12px;
    margin-right: 10px;
    padding-bottom: 3px;
}
.wiki-logo{
    height: 25px;
    width: 25px;
}
.header-left{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.wiki-text p{
   
    display: flex;
    flex-direction: column;
    height: 10px;
    margin: 0;
    margin-left: 10px;
    margin-bottom: 6px;
}

.up-wiki{
    font-size: 16px;
    text-transform: uppercase;

}
.down-wiki{
    font-size: 10px;
    color: rgb(50, 50, 50);
}
.search-bar{
    width: 230px;
    border:  0.5px solid rgb(0, 0, 0);
}
.search-bar::placeholder{
    font-size: 7px;
    padding-left: 10px;
}
.header-middle
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-search{
    border: 0.7px  solid rgb(134, 132, 132);
    background-color: white;
   
    margin: 0;
    font-size: 8.5px ;
    text-align: center;
    border: 0.5px solid rgb(109, 107, 107);
    
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
    font-size: 9px;
}
.t-dot{
    height: 20px;
    padding-top:4px ;
}
